.image_on_index {
	text-align: center;
}

.menu-items-center {
	text-align: center;
}

.menu-items-center a:hover {
	text-decoration: none;
}

#align-right {
	text-align: right;
	float: right;
}

.recipe_list {
	min-height: 25px;
	line-height: 5px;
}

.recipe_list a {
	font-size: 16;
}

.add_recipe_button {
	text-align: left;
	display: block;
	padding-top: 20px;
}

.logout {
	float: right;
}

.top-margin-50 {
	margin-top: 50px;
}

.long_plate table {
	margin: 49px;
}

.login_panel {
	text-align: center;
}

.center-with-auto-div {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

.max-width-30 {
	max-width: 30%;
}

.the_best_background {
	background-image: url('/resources/img/bg.jpg');
	background-repeat: no-repeat;
	background-position: fixed fixed;
	background-attachment: fixed;
	background-size: contain;
	overflow-x:hidden;
}

.page-header {
	background-color: white;
	opacity: 0.9;
}

.mainContent {
	min-height: 678px;
	background-color: white;
	opacity: 0.85;
	padding: 20px;
/* 	position: relative; */
}

.mainContent label {
	margin-top: 15px;
	margin-bottom: 15px;	
}

.search-result {
	min-height: 50%;
}

.float-right {
	float: right;
}

.ingredients-table {
	margin-top: 30px;
}

.fix-sized-label {
	min-width: 70px;
}

.panel a {
	cursor: pointer;
}