.image_on_index {
	text-align: center;
}

.menu-items-center {
	text-align: center;
}

#align-right {
	text-align: right;
	float: right;
}

.recipe_list {
	min-height: 25px;
	line-height: 5px;
}

.recipe_list a {
	font-size: 16;
}

.add_recipe_button {
	text-align: left;
	display: block;
	padding-top: 20px;
}

.logout {
	float: right;
}

.logout button {
	margin-top: 30px;
}

.long_plate table {
	margin: 49px;
}

.login_panel {
	text-align: center;
}

.center-with-auto-div {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

.max-width-30 {
	max-width: 30%;
}

.the_best_background {
	background-image: url('/resources/img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed fixed;
	
}

.page-header {
	background-color: white;
	opacity: 0.9;
}