#image_on_index {
	text-align: center;
}

#component_table {
	/* 	padding:3px;	 */
	
}

.menu-items-center {
	text-align: center;
}

#align-right {
	text-align: right;
	float: right;
}

.recipe_list {
	min-height: 25px;
	line-height: 5px;
}

.recipe_list a {
	font-size: 16;
}

.square_plate {
/* 	background-image: url("/resources/img/square_plate.jpg"); */
}

.add_recipe_button {
	text-align: left;
/* 	float: right; */
	display: block;
	padding-top: 20px;
}

/* .plate_background { */
/* /* 	background-image: url("/resources/img/BATASDP1.png"); */ */
/* 	background-repeat: no-repeat; */
/* 	min-height: 370px; */
/* 	min-width: 370px; */
/* 	max-height: 370px; */
/* 	max-width: 370px; */
/* 	text-align: center; */
/* 	padding-top: 90px; */
/* } */

.main_menu {
	text-align: center;
}

.logout {
	float: right;
}

.logout button {
	margin-top: 30px;
}

/* .long_plate { */
/* /* 	background-image: url("/resources/img/long plate.png"); */ */
/* 	background-repeat: no-repeat; */
/* 	min-height: 370px; */
/* /* 	min-width: 370px; */ */
/* 	max-height: 370px; */
/* /* 	max-width: 370px; */ */
/* } */

.long_plate table {
	margin: 49px;
}